Form Elemen<!DOCTYPE html>
<html lang="en">
<head>
<title>Matrix Admin</title>
<meta charset="UTF-8" />
<link rel="stylesheet" href="css/bootstrap.min.css" />


<link rel="stylesheet" href="css/datepicker.css" />







</head>
<body>

<!--Header-part-->

  
                <input type="text" data-date="01-02-2013" data-date-format="dd-mm-yyyy" value="01-02-2013" class="datepicker span11">
                <span class="help-block">Date with Formate of  (dd-mm-yy)</span> </div>
         


<!--end-Footer-part--> 
<script src="js/jquery.min.js"></script> 

<script src="js/bootstrap.min.js"></script> 


<script src="js/bootstrap-colorpicker.js"></script> 
<script src="js/bootstrap-datepicker.js"></script> 

<script src="js/jquery.uniform.js"></script> 
<script src="js/select2.min.js"></script> 
<script src="js/matrix.form_common.js"></script> 



</body>
</html>
